<%- include("templates/header") %> 
<div class="album py-5 bg-body-tertiary"> 
  <div class="container"> 
    <div class="row row-cols-1 row-cols-sm-2 row-cols-md-3 g-3"> 
      <div class="col"> 
        <div class="card shadow-sm"> 
          <img src="/fatty.gif" class="bd-placeholder-img card-img-top" height="225" width="100%" alt="Fatty">
        </div> 
      </div> 
      <div class="col"> 
        <div class="card shadow-sm"> 
          <img src="/fluffy.gif" class="bd-placeholder-img card-img-top" height="225" width="100%" alt="Fluffy">
        </div> 
      </div> 
      <div class="col"> 
        <div class="card shadow-sm"> 
          <img src="/socks.gif" class="bd-placeholder-img card-img-top" height="225" width="100%" alt="Socks">
        </div> 
      </div> 
    </div> 
  </div>
</div>

<%- include("templates/footer") %> 