<%- include("templates/header") %> 
		<h1>Hello, <%- include("templates/user") %>  </h1><br>
        <form action="/members">
            <input type="submit" value="goto members area" />
        </form>
        <form action="/logout">
            <input type="submit" value="Logout" />
        </form>`
<%- include("templates/footer") %> 